@{
    Layout = null;
}


<div class="modal fade" id="create-user" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title">
                    Edit Restaurant Information
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <i aria-hidden="true" class="ki ki-close"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="col-form-label">Restaurant</label>
                        <input type="text" name="Restaurant" class="form-control" />
                    </div>
                    <div class="col-md-12">
                        <label class="col-form-label">Owner</label>
                        <input type="text" name="Owner" class="form-control" />
                    </div>
                    <div class="col-md-12">
                        <label class="col-form-label">Email</label>
                        <input type="text" name="Email" class="form-control" />
                    </div>
                    <div class="col-md-12">
                        <label class="col-form-label">Address</label>
                        <input type="text" name="Address" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-save="modal-user">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>