<kt-portlet>
  <!-- See prop => '../../_core/models/data-sources/_base.datasource.ts' (loading$) -->
  <kt-portlet-header [class]="'card-head-lg'">
    <!-- PORTLET LOADING | Binded to TABLE Datasource -->

    <ng-container ktPortletTitle>
      <span
        >Quene Management <br />
        <small>Manage Order,Restroom and Bill Request</small>
      </span>
      <!-- For localisations we use @ngx-translate | See off. documentations => https://github.com/ngx-translate/core -->
      <!-- Localization libraries (en/fr) are here => '../../../.././config/i18n/en.ts|fr.ts' -->
    </ng-container>

    <!-- <ng-container ktPortletTools>
      <button
        (click)="addOptions()"
        mat-raised-button
        matTooltip="Create new customer"
        color="primary"
        type="button"
      >
        <span>New Options</span>
      </button>
    </ng-container> -->
  </kt-portlet-header>

  <kt-portlet-body>
    <mat-tab-group mat-align-tabs="end">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">work</mat-icon>
          Order Request
        </ng-template>
        <div class="container-fluid" style="height: 500px;">
          <div class="row">
            <div class="col-md-4" style="overflow-y: auto; height: 498px;">
              <div class="row">
                <button
                  class="btn btn-sm"
                  style="width: 98%; background-color: #7b7bff;"
                >
                  <strong>New Order</strong>
                </button>
              </div>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-md-4" style="overflow-y: auto; height: 498px;">
              <div class="row">
                <button
                  class="btn btn-sm"
                  style="width: 98%; background-color: rgb(219, 219, 37);"
                >
                  <strong>Under Process</strong>
                </button>
              </div>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-md-4" style="overflow-y: auto; height: 498px;">
              <div class="row">
                <button
                  class="btn btn-sm"
                  style="width: 98%; background-color: rgb(84, 207, 207);"
                >
                  <strong>Delivered</strong>
                </button>
              </div>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">attach_money</mat-icon>
          Bill Request
        </ng-template>
        <div class="container-fluid" style="height: 500px;">
          <div class="row">
            <div class="col-md-4" style="overflow-y: auto; height: 498px;">
              <div class="row">
                <button
                  class="btn btn-sm"
                  style="width: 98%; background-color: #7b7bff;"
                >
                  <strong>New Request</strong>
                </button>
              </div>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-md-4" style="overflow-y: auto; height: 498px;">
              <div class="row">
                <button
                  class="btn btn-sm"
                  style="width: 98%; background-color: rgb(219, 219, 37);"
                >
                  <strong>Generated Bills</strong>
                </button>
              </div>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
            </div>
            <div class="col-md-4" style="overflow-y: auto; height: 498px;">
              <div class="row">
                <button
                  class="btn btn-sm"
                  style="width: 98%; background-color: rgb(84, 207, 207);"
                >
                  <strong>Payed Bills</strong>
                </button>
              </div>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">event_seat</mat-icon>
          Rest Room Request
        </ng-template>

        <div class="container-fluid" style="height: 500px;">
          <div class="row">
            <div class="col-md-6" style="overflow-y: auto; height: 498px;">
              <div class="row">
                <button
                  class="btn btn-sm"
                  style="width: 98%; background-color: #7b7bff;"
                >
                  <strong>New Request</strong>
                </button>
              </div>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
            </div>

            <div class="col-md-6" style="overflow-y: auto; height: 498px;">
              <div class="row">
                <button
                  class="btn btn-sm"
                  style="width: 98%; background-color: rgb(84, 207, 207);"
                >
                  <strong>Acknowledged</strong>
                </button>
              </div>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
              <br />
              <mat-card class="example-card">
                <div class="row">
                  <div class="col-md-1">
                    <i
                      style="
                        color: cornflowerblue;
                        font-size: medium;
                        /* justify-content: center; */
                        position: absolute;
                        margin: 35%;
                      "
                      class="fa fa-usd"
                      aria-hidden="true"
                    ></i>
                  </div>
                  <div class="col-md-4">
                    <h6><strong>Table No. 7</strong></h6>
                    <small style="position: absolute; margin-top: -3%;"
                      >Hall No. 2</small
                    >
                  </div>
                  <div class="col-md-4"><small>5 minutes ago</small></div>
                  <div class="col-md-3">
                    <i
                      class="fa fa-cog"
                      style="font-size: x-large; cursor: pointer; color: black;"
                      aria-hidden="true"
                    ></i>
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </kt-portlet-body>
</kt-portlet>
